/* Universal Styles */

html {
  font-size: 16px;
  font-family: Helvetica;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
}

.header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
  }

.header .menu {
  display: flex;
}

.logo .logo-text {
  font-family: serif;
  color: #454545;
  font-size:1.3rem;
}

.header li {
  display: inline;
  margin-right: 1rem;
}

.header span {
  display: inline;
}

@media only screen and (min-width: 700px)
{
.mobile-nav {
  display: none;
}
}


@media only screen and (max-width: 700px)
{
  .header .logo,
  .header .menu {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    display: block;
  }

  .mobile-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .mobile-nav li{
    display: inline-block;
  }

  .mobile-nav img {
    height: 2.5rem;
  }
  }

.main-banner .container {
  display: flex;
  align-items: center;
  background-color: #c0c0c0;
  color: #454545;
  }

.container .img-banner {
  padding:2rem 1.5rem;
  width: 60%;
}

.container .text-banner {
  width: 30%;
}

.img-banner img {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.text-banner h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.text-banner h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  font-weight: 600;
  background-color: #808080;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  }


@media only screen and (max-width: 700px)
{
  .main-banner .container {
    display: block;
  }

  .container .img-banner {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .container .text-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


.main-new .container{
  display: flex;
  }

.container .main-img {
  display: block;
  padding:2rem 1.5rem;
  width: 60%;
  color: #454545;
 }

  .main-img img {
  width: 100%;
  margin-bottom: 2rem;
  }

  .main-img h1 {
    padding: 0 1.5rem;
    }

  .main-img p {
    padding: 1.5rem;
    }

  .infos {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
    color: #454545;
  }

  .info {
    display: flex;
    padding: 1rem;
  }

  .img-info {
    width: 35%;
  }

  .img-info img {
    width: 100%;
    }

  .text-info {
    width: 65%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .text-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .text-info p {
    padding: 0.5rem 0;
  }

  .text-info .more {
    color: #0000ff;
  }

@media only screen and (max-width: 700px) {
  .container .main-img {
    display: none;
  }

  .infos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-info,
  .text-info{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    }

    .img-info img {
      width: 80%;
      margin: auto;
    }
}


  .tools {
    color:  #454545;
    }

  .tools h1 {
    padding: 2rem 0;
    text-align: center;
    display: block;
    width: 100%;
  }

  .tools .container {
    background-color: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4.5rem;
    }

  .container .tool {
   width: 30%;
   margin: 1rem;
   }

.tool img {
  width: 100%;
}

 .text-tool {
   background-color: white;
   padding-top: 1rem;
   padding-left: 1rem;
   padding-bottom: 1.5rem;
 }

 .text-tool h3 {
   padding-bottom: 0.5rem;
   font-size: 1.1rem;
   font-weight: 600;
 }
 .text-tool p {
  padding: 0.5rem 0;
}
@media only screen and (min-width: 700px){
  .mobile-tool {
    display: none;
  }
}

 @media only screen and (max-width: 700px)

 {

  .tools .container {
    display: none;
   }

   .mobile-tool {
     padding-left: 1rem;
     padding-right: 1rem;
   }

   .mobile-tool {
     display: block;
   }

   .title {
     width: 100%;
     padding: 1rem;
     background-color: #DEDBD8;
     display: flex;
     justify-content: center;
     margin-bottom: 0.5rem;
     }

     .title h3 {
       color:
       font-weight: bold;
     }
 }

.section-thesis .container {
  display: flex;
  color:  #454545;
}
.section-thesis h1 {
  padding-top: 2rem;
  text-align: center;
  color:  #454545;
}

 .thesis {
   padding: 2rem 1.5rem;
   width: 60%;
   }

 .thesis video {
   width: 100%;
   margin-bottom: 1.5rem;
 }

 .thesis-text p {
   margin-top: 0.5rem;
 }

 .thesis-exhibit {
   margin-top: 2rem;
   width: 40%;
   }

.block-exhibit {
  display:flex;
  width: 100%;
  padding: 1rem;
}

.exhibit-img {
  width: 35%;
  margin-right: 1rem;
}

.exhibit-img img{
  width: 100%;
}

.exhibit-text {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.thesis-text h3{
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.exhibit-text h3{
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 700px)
{
  .thesis-text{
    display: none;
  }

  .thesis-exhibit {
    display: none;
  }

  .thesis {
    width: 100%;
    padding: 0;
  }

}
footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem 1.5rem;
  color:  #454545;

}

.menu-bottom li {
  display: inline;
}

@media only screen and (max-width: 700px)

{
  .menu-bottom {
    display: none;
    }
  footer {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
